<div class="sidebar-sticky" data-sidebar-sticky-options='{
  "topSpacing": 120,
  "minWidth": 991
}'>
  <div class="sidebar-sticky-inner">
    <div class="card">
      <div class="card-body" *ngIf="dataUserLC">
        <h5 class="card-title mb-1">{{dataUserLC.name}} {{dataUserLC.lastName}}</h5>
        <p class="card-text text-muted mb-lg-0">{{dataUserLC.email}}</p>
        <a href="#account-menu" class="btn btn-primary btn-block d-lg-none" data-toggle="collapse">Opciones</a>
      </div>
      <div id="account-menu" class="collapse d-lg-block">
        <div class="list-group list-group-flush border-top">
          <a [routerLink]="['/account/profile']" routerLinkActive="active"  class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="cxi-profile font-size-lg mr-2"></i>
            <span>Mi perfil</span>
          </a>
          <a [routerLink]="['/account/address']" routerLinkActive="active" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="cxi-bag font-size-lg mr-2"></i>
            <span>Mis direcciones</span>
          </a>
          <a [routerLink]="['/account/orders']" routerLinkActive="active" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="cxi-heart font-size-lg mr-2"></i>
            <span>Mis ordenes</span>
          </a>
          <!-- <a href="account-recently-viewed.html" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="cxi-eye font-size-lg mr-2"></i>
            <span>Recently viewed</span>
          </a> -->
          <!-- <a href="account-reviews.html" class="list-group-item list-group-item-action d-flex align-items-center">
            <i class="cxi-star font-size-lg mr-2"></i>
            <span>My reseñas</span>
          </a> -->
          <a (click)="logout()" class="text-logout list-group-item list-group-item-action d-flex align-items-center">
            <i class="cxi-logout font-size-lg mr-2"></i>
            <span>Cerrar sesión</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
