<app-nav></app-nav>

<main  class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']" ><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Mis Ordenes</li>
      </ol>
    </div>
  </nav>

    <!-- Page container -->
    <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
      <div class="row pb-2 pb-lg-0">

        <!-- Account menu (sticky sidebar) -->
        <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
          <app-sidebar></app-sidebar>
        </aside>

        <!-- Content -->
        <div class="col-lg-8 ml-auto" *ngIf="order != undefined">
          <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-2">
            <h1 class="h2 mb-0">Mis Ordenes #{{id.toUpperCase()}}</h1>

          </div>

          <ng-container *ngIf="order.typePay == 'TransferPayment' ">
            <div class="row">
              <div class="col-12 mb-4">
                <div class="card card-body py-3 box-shadow">
                  <h5>¡Finaliza tu compra!</h5>
                  <p>
                    Realiza el pago de tu pedido por <strong>Transferencia o Deposito</strong> y envíanos una imagen
                    de la operación a nuestro <strong>WhatsApp 55 8107 7537</strong> para confirmar la compra y asi
                    mandarte tu guía de seguimiento
                  </p>
                  <h5>Datos para el pago:</h5>
                  <p>
                    <strong>Nro. de tarjeta en Pesos Mexicanos (MXN): 4152-3139-8309-1542 </strong>
                  </p>
                  <p>
                    <strong>Nro. de cuenta en Pesos Mexicanos (MXN): 0481-8863-20 </strong>
                  </p>
                  <p>
                    <strong>Código interbancario: 0121-8000-4818-8632-04</strong>
                  </p>
                  <p>
                    <strong>Titular de la tarjeta: </strong>
                  </p>
                  <p>
                    <strong>
                      *Realiza el pago en las próximas 24 horas. Pasadas las 24 horas, tu pedido será cancelado automáticamente*
                    </strong>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="order.typePay != 'TransferPayment' "></ng-container>

          <div class="row">
            <div class="col-12 mb-4">
              <div class="card card-body py-3 box-shadow ">
                <div class="row">
                  <div class="col-lg-6">
                    <table class="table mb-0">
                      <tbody>
                        <tr>
                          <th class="border-0 py-2 pl-0">No. orden:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{id.toUpperCase()}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Envio:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{order.envioTitulo}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Fecha:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{order.createAt | date}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-6">
                    <table class="table mb-0">
                      <tbody>

                        <tr>
                          <th class="border-0 py-2 pl-0">Venta:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{order.nVenta}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">No. transaccion:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{order.transaccion}}</td>
                        </tr>
                        <tr>
                          <th class="border-0 py-2 pl-0">Estado:</th>
                          <td class="border-0 py-2 px-0 text-muted">{{order.estado}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12 mb-3" *ngIf="order.direccion">
              <div class="card">
                <div class="card-body">
                  <div class="row">

                    <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                      <h4 class="mb-2 fs-lg">{{order.direccion.destinatario}}</h4>
                      <span class="d-block mb-3 fs-sm text-muted">{{order.direccion.zip}}</span>
                      <span class="badge badge-success" *ngIf="order.direccion.principal">Direccion principal</span>
                    </div>
                    <div class="col">
                      <p class="mb-3">{{order.direccion.direccion}}</p>
                      <p class="mb-3">{{order.direccion.pais}}
                        <span *ngIf="order.direccion.region">{{order.direccion.region}}</span> -
                        <span *ngIf="order.direccion.provincia">{{order.direccion.provincia}}</span> -
                        <span *ngIf="order.direccion.distrito">{{order.direccion.distrito}}</span>
                      </p>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-bottom">

            <div id="order-1" class="collapse show" data-parent="#orders">
              <div class="bg-secondary rounded mb-4">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <tbody>
                      <tr *ngFor="let item of details">
                        <td class="border-top-0">
                          <div class="media pl-2 py-2">
                            <a  style="min-width: 80px;">
                              <img [src]="url + 'getFrontPage/' + item.product.frontPage " width="80" alt="Product thumb">
                            </a>
                            <div class="media-body pl-3">
                              <h3 class="font-size-sm mb-3">
                                <a  class="nav-link font-weight-bold">{{item.product.title}}</a>
                              </h3>
                              <ul class="list-unstyled font-size-xs mt-n2 mb-2">
                                <li class="mb-0"><span class="text-muted">{{item.product.titleVarieties}}:</span> {{item.varieties}}</li>
                                <li class="mb-0"><span class="text-muted">Talla:</span>Unitalla</li>
                              </ul>
                              <a (click)="openModal(item)" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#review-' + item._id" class="text-center" >[Emitir reseña]</a>

                              <div class="modal fade" id="review-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Emitir reseña</h5>
                                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="row mb-3">
                                        <div class="col-sm-12 form-group">
                                          <label for="ac-address">Reseña</label>
                                          <textarea class="form-control" name="review" [(ngModel)]="review.review" placeholder="Deja tu comentario aqui" required  id="ac-address" cols="30" rows="3"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                                      <button *ngIf="!loadingBtn" type="button" class="btn btn-primary btn-sm" (click)="emitirReview()" >Enviar</button>
                                      <button *ngIf="loadingBtn" disabled type="button" class="btn btn-secondary">
                                        <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                                        Cerrando...
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="border-top-0">
                          <div class="py-2">
                            <div class="font-size-xs text-muted mb-1">Precio:</div>
                            <div class="font-size-sm text-dark">${{item.product.price}}.00</div>
                          </div>
                        </td>
                        <td class="border-top-0">
                          <div class="py-2">
                            <div class="font-size-xs text-muted mb-1">Cantidad:</div>
                            <div class="font-size-sm text-dark">{{item.quantity}}</div>
                          </div>
                        </td>
                        <td class="border-top-0">
                          <div class="py-2 pr-3 text-right">
                            <div class="font-size-xs text-muted mb-1">Subtotal:</div>
                            <div class="font-size-sm font-weight-bold text-dark">${{item.subtotal}}.00</div>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="py-2 pl-2">
                            <span class="font-size-xs text-muted">Envio: </span>
                            <span class="font-size-sm text-dark">${{order.envioPrecio}}.00</span>
                          </div>
                        </td>
                        <!-- <td>
                          <div class="py-2">
                            <span class="font-size-xs text-muted">Shipping: </span>
                            <span class="font-size-sm text-dark">$25.00</span>
                          </div>
                        </td> -->
                        <td>
                          <div class="py-2 pr-3 text-right">
                            <span class="font-size-xs text-muted">Total: </span>
                            <span class="font-size-sm font-weight-bold text-dark">${{order.subtotal}}.00</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 ml-auto" *ngIf="order == undefined">
          <div class="col-lg-12 col-md-5">
            <h3 class="h6 mb-2 text-uppercase">Aqui se visualizaran todas tus ordenes realizadas</h3>
            <h2 class="h1 pb-lg-3 m-3">Realiza una compra para poder ver los detalles de tu compra</h2>
        </div>
        </div>
      </div>
    </section>


</main>

<app-footer></app-footer>
