<app-sidebar></app-sidebar>
<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Dashboard</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
  </div>
</div>

<div class="row">
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-info">
      <div class="card-header">Ganancias Totales</div>
      <div class="card-body">
        <h5 class="card-title text-white"> ${{gananciaTotal}}.00</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-info">
      <div class="card-header">Ganancia del Mes</div>
      <div class="card-body">
        <h5 class="card-title text-white">${{totalMes}}.00</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-info">
      <div class="card-header">N° Ventas</div>
      <div class="card-body">
        <h5 class="card-title text-white">{{countSales}}</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-white bg-info">
      <div class="card-header">Mes Anterior</div>
      <div class="card-body">
        <h5 class="card-title text-white">${{totalMesAnterior}}.00</h5>
      </div>
    </div>
  </div>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Ventas Mensuales</h5>
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
</div>
